.menubarbutton {
	-fx-background-color: #999999;
	-fx-background-radius: 0;

    -fx-border-style: solid outside line-cap square;
    -fx-border-insets: 3;
	-fx-border-width: 0;

	-fx-background-insets: 0;

	-fx-cursor: hand;
}

.pagelabel {
	-fx-font-weight: bold;
}

.menubarbutton:focused {
	-fx-background-color: #999999;
}

.menubarbutton:hover {
	-fx-background-color: #888888;

	-fx-border-width: 0 0 3 0;
	-fx-border-color: #333333;
}

.background {
	-fx-background-color: #333333;
}

.menubar {
	-fx-background-color: #a6a6a6;
}

.sidebar {
	-fx-background-color: #cccccc;
}