.gameInfoBarItem {
	-fx-background-color: rgba(217, 217, 217, 0.7);
	-fx-background-radius: 10;
}

.gameSideBar {
	-fx-background-color: #cccccc 0.5;
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 5;
    -fx-border-color: gray;
}

.resetViewButton {
	-fx-background-color: rgba(217, 217, 217, 0.7);
	-fx-background-radius: 7;
	-fx-border-width: 0;
	-fx-background-insets: 0;
	-fx-cursor: hand;
}

.resetViewButton:focused {
	-fx-background-color: rgba(217, 217, 217, 0.7);
}

.resetViewButton:hover {
	-fx-background-color: rgba(150, 150, 150, 1);
}

.shop-items-box {
}




/*SCROLLPANE DU SHOP*/
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #e6e6e6;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0;

    -fx-border-width: 0;
    -fx-border-insets: 0;

    -fx-padding: 5 0 0 0;
}

.tab-pane {
    -fx-tab-min-width: 50;
    -fx-border-width: 0;
    -fx-border-insets: 0;

    -fx-border-style: solid;
    -fx-border-width: 0 0 0 5;
    -fx-border-color: gray;
}

.tab {
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-margin: 5;
}

.tab-pane .tab {
    -fx-background-color: #888888;
    -fx-background-radius: 7 7 0 0;

    -fx-border-width: 0;
    -fx-border-insets: 0;

    -fx-cursor: hand;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane .tab:hover {
    -fx-background-color: #a6a6a6;
}

.tab-pane .tab:selected {
    -fx-background-color: #cccccc;
    -fx-border-width: 0;
    -fx-cursor: default;
}

.tab-pane .tab:focused {
    -fx-border-width: 0;
}

.tab .tab-label {
    -fx-text-font-size: 15;
    -fx-alignement: CENTER;
}





/*ELEMTNS DU SHOP*/

.shop-vbox {
    -fx-spacing: 10;
    -fx-alignment: top-left;
    -fx-padding: 10;
}

.shop-container-vbox {
    -fx-spacing: 10;
    -fx-background-color: #a6a6a6;
    -fx-padding: 10;

    -fx-border-width: 0;
    -fx-border-color: black;
    -fx-border-style: solid;
}

.shop-container-vbox:hover {
    -fx-border-width: 3;
    -fx-cursor: hand;
}

.shop-container-vbox-selected {
    -fx-border-width: 3;
    -fx-cursor: default;
}

.shop-container-hbox {
    -fx-spacing: 10;
    -fx-background-color: #a6a6a6;
}

.shop-properties-box {
    -fx-hgap: 10;
    -fx-vgap: 0;
    -fx-alignment: top-left;
}

.item-label-description {
    -fx-wrap-text: false;
}

.item-label-name {
    -fx-wrap-text: false;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}