/*======================================================================================================================
                                                    UI DU JEU
======================================================================================================================*/
.gameInfoBarItem {
	-fx-background-color: rgba(217, 217, 217, 0.7);
	-fx-background-radius: 10;
}

.gameSideBar {
	-fx-background-color: #cccccc 0.5;
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 5;
    -fx-border-color: gray;
}

.resetViewButton {
	-fx-background-color: rgba(217, 217, 217, 0.7);
	-fx-background-radius: 7;
	-fx-border-width: 0;
	-fx-background-insets: 0;
	-fx-cursor: hand;
}

.resetViewButton:focused {
	-fx-background-color: rgba(217, 217, 217, 0.7);
}

.resetViewButton:hover {
	-fx-background-color: rgba(150, 150, 150, 1);
}

.shop-items-box {
}

.hand-cursor {
    -fx-cursor: hand;
}


/*======================================================================================================================
                                                    SCROLLPANE DU SHOP
======================================================================================================================*/
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #e6e6e6;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0;

    -fx-border-width: 0;
    -fx-border-insets: 0;

    -fx-padding: 5 0 0 0;
}

.tab-pane {
    -fx-tab-min-width: 50;
    -fx-border-width: 0;
    -fx-border-insets: 0;

    -fx-border-style: solid;
    -fx-border-width: 0 0 0 5;
    -fx-border-color: gray;
}

.tab {
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-margin: 5;
}

.tab-pane .tab {
    -fx-background-color: #888888;
    -fx-background-radius: 7 7 0 0;

    -fx-border-width: 0;
    -fx-border-insets: 0;

    -fx-cursor: hand;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane .tab:hover {
    -fx-background-color: #a6a6a6;
}

.tab-pane .tab:selected {
    -fx-background-color: #cccccc;
    -fx-border-width: 0;
    -fx-cursor: default;
}

.tab-pane .tab:focused {
    -fx-border-width: 0;
}

.tab .tab-label {
    -fx-text-font-size: 15;
    -fx-alignement: CENTER;
}





/*======================================================================================================================
                                                    ELEMENTS DU SHOP
======================================================================================================================*/

.shop-vbox {
    -fx-spacing: 10;
    -fx-alignment: top-left;
    -fx-padding: 10;
}

.shop-container-vbox {
    -fx-spacing: 10;
    -fx-background-color: #a6a6a6;
    -fx-padding: 10;

    -fx-border-width: 0;
    -fx-border-color: black;
    -fx-border-style: solid;
}

.shop-container-vbox:hover {
    -fx-border-width: 3;
    -fx-cursor: hand;
}

.shop-container-vbox-selected {
    -fx-border-width: 3;
    -fx-cursor: default;
}

.shop-container-hbox {
    -fx-spacing: 10;
    -fx-background-color: #a6a6a6;
}

.shop-properties-box {
    -fx-hgap: 10;
    -fx-vgap: 0;
    -fx-alignment: top-left;
}

.item-label-description {
    -fx-wrap-text: false;
}

.item-label-name {
    -fx-wrap-text: false;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}



/*======================================================================================================================
                                    POPUP D'INFO POUR LES NIVEAUX D'AMÉLIORATIONS
======================================================================================================================*/
.info-bubble-vbox {
    -fx-spacing: 5;
    -fx-alignment: center-left;

    -fx-background-color: white 0.7;
    -fx-background-radius: 15;

    -fx-padding: 10;
}

.info-bubble-vbox .level-gridpane {
    -fx-hgap: 5;
    -fx-vgap: 5;

    -fx-padding: 5;

    -fx-background-color: #cccccc;
    -fx-background-radius: 0;
}

.info-bubble-vbox .level-gridpane .label {

}

.next-level-label {
    -fx-text-fill: #ffb800;
}

.next-level {
    -fx-background-color: #a6a6a6;
}

.no-upgrade-label {

}

.close-button {
    -fx-background-color : #999999;
    -fx-background-radius: 15;

	-fx-background-insets: 0;
	-fx-cursor: hand;
}

.close-button:hover {
    -fx-background-color : #888888;
}

.close-button:pressed {
    -fx-background-color : #999999;
}

.upgrade-button {
    -fx-background-color : #ffd100;
    -fx-background-radius: 15;

	-fx-background-insets: 0;
	-fx-cursor: hand;
}

.upgrade-button:hover {
    -fx-background-color : #ffb800;
}

.upgrade-button:pressed {
    -fx-background-color : #ff9900;
}


/*======================================================================================================================
                                            SPÉCIFIQUE AUX MINES D'OR
======================================================================================================================*/
.retrieve-gold {
    -fx-background-color: white;
    -fx-cursor: hand;
}

.retrieve-gold:hover {
    -fx-background-color: #a6a6a6;
}
