/*########################################
# Style de la map
########################################*/
.map {
-fx-boder-width: 0;
-fx-boder-color: black;
-fx-boder-type: outside;
}

/*########################################
# style général des tiles
########################################*/
.hover-indicator {
-fx-fill: rgba(0, 0, 0, 0);
-fx-stroke-width: 0;
-fx-stroke: white;
-fx-stroke-type: inside;
}

.hover-indicator:hover {
-fx-stroke-width: 2;
}

/*########################################
# style des différentes tiles
########################################*/
.empty-tile-shape {
/*-fx-fill: #33cc33;*/
}

.obstacle-tile-shape {
/*-fx-fill: #33cc33;*/
}

.path-tile-shape {
/*-fx-fill: #e6e6e6;*/
}

/*########################################
# gestion des hover
########################################*/
.cannot-be-built-on:hover {
-fx-stroke: red;
}

.can-be-built-on:hover {
-fx-stroke: black;
}

.can-be-built-on:pressed {
-fx-stroke: white;
}